body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.work-title,
.loading,
.workshop,
.addwork {
	text-align: center;
}

.workshop {
	margin-bottom: 10px;
}

.workshop-inner {
		background-color: rgba(223, 225, 224, 0.5);
		padding: 5px;
}

.addWork{
	margin-top: 10px;
	margin-bottom: 20px;
}
