body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#menu {
	font-size: 120%;
}

li {
	background-color: white;
}

li:hover {
	background-color: rgba(175, 213, 238, 1);
	transition: background-color 0.5s ease-in-out;
}

.work-title,
.loading,
.workshop,
.addwork {
	text-align: center;
}

.title {
	transition-duration: 2s;
}

.title:hover {
	display:inline-block;
    transform:scale(1.25,1); /* W3C */
    -webkit-transform:scale(1.25,1); /* Safari and Chrome */
    -moz-transform:scale(1.25,1); /* Firefox */
    -ms-transform:scale(1.25,1); /* IE 9 */
    -o-transform:scale(1.25,1);
	text-decoration: none;	
}

.workshop {
	margin-bottom: 10px;
}

.workshop-inner {
	background-color: rgba(223, 225, 224, 0.5);
	padding: 5px;
}

.addWork{
	margin-top: 10px;
	margin-bottom: 20px;
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
} 
