<div ng-if="!radionice && !ovaRadionica">
  <img src="http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif"/>
</div>

<section ng-if="radionice" ng-repeat="radionica in radionice" class="page{{radionica.id}}">
	<h3><a href="#/{{radionica.id}}">{{radionica.ime}}</a></h3>
	<p class="text-info">{{radionica.mesto}}</p>
</section>

<div ng-if="ovaRadionica">
  <h2>{{ovaRadionica.ime}}</h2>
  <p class="text-info">{{ovaRadionica.mesto}}</p>
</div>

<a href="#/add" class="btn btn-primary"> Dodaj radionicu </a>
