<div ng-if="!radionice && !ovaRadionica">
  <img src="http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif"/>
</div>
<div ng-if="radionice" ng-repeat="radionica in radionice">
  <div>
    <a href="#/{{radionica.id}}">{{radionica.id}}</a>
  </div>
  <div>{{radionica.ime}}</div>
  <div>{{radionica.mesto}}</div>
</div>

<div ng-if="ovaRadionica">
  <div>
    <a href="">{{ovaRadionica.id}}</a>
  </div>
  <div>{{ovaRadionica.ime}}</div>
  <div>{{ovaRadionica.mesto}}</div>
</div>

<a href="#/add"> Dodaj radionicu </a>
