<div class="row">
	<div class="loading col-lg-8 col-lg-offset-2" ng-if="!radionice && !ovaRadionica">
	  <img src="http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif"/>
	</div>
</div>

<div class="row">
	<h1 class="work-title"> Radionice </h1>
	<div class="col-lg-6 workshop col-md-6  workshop" ng-if="radionice" ng-repeat="radionica in radionice">
	  <div class="workshop-inner">
			<h3 class="workshop-title"><a href="#/{{radionica.id}}" class="title">{{radionica.ime}}</a></h3>
			<img class="col-md-12 workshop-image img-responsive" src="{{radionica.img}}"/>
		  <p class="workshop-text text-info">{{radionica.mesto}}</p>
		</div>
	</div>
</div>


<div class="col-lg-8 col-lg-offset-2 workshop" ng-if="ovaRadionica">
  <h2 class="workshop-title">{{ovaRadionica.ime}}</h2>
	<img class="col-md-12 workshop-image img-responsive" src="{{ovaRadionica.img}}"/>
  <p class="workshop-text text-info">{{ovaRadionica.mesto}}</p>
</div>


<div class="row">
	<div class="addWork col-lg-8 col-lg-offset-2">
      <a href="#/add" class="btn btn-primary"> Dodaj radionicu </a>
	</div>
</div>

<div class="row">
	<h1 class="work-title"> Događaji </h1>
	<div class="col-lg-6 workshop col-md-6  workshop" ng-if="workshop" ng-repeat="event in events">
	  <div class="workshop-inner">
			<h3 class="workshop-title"><a href="#/{{event.id}}">{{event.ime}}</a></h3>
			<img class="col-md-12 workshop-image img-responsive" src="{{event.img}}"/>
		  <p class="workshop-text text-info">{{event.mesto}}</p>
		</div>
	</div>
</div>

<div class="col-lg-8 col-lg-offset-2 workshop" ng-if="thisEvent">
  <h2 class="workshop-title">{{thisEvent.ime}}</h2>
	<img class="col-md-12 workshop-image img-responsive" src="{{thisEvent.img}}"/>
  <p class="workshop-text text-info">{{thisEvent.mesto}}</p>
</div>
